<%- include("header") -%>

<h1>This is my about page</h1>
<p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing 
    elit. Laborum, iusto sunt. Quis, quaerat minus quo 
    architecto corporis numquam cumque laborum modi 
    recusandae sed, nobis praesentium eligendi saepe, 
    accusamus nesciunt repellendus?
Amet voluptas eos hic earum accusamus ex aperiam nobis 
incidunt corrupti, voluptatibus, nam, adipisci facilis 
placeat vitae alias. Blanditiis neque expedita officiis 
sapiente veniam rerum perspiciatis labore aperiam hic aliquam?
Distinctio, enim inventore id esse quaerat ad architecto 
similique beatae magni illo sed suscipit rem, totam magnam? 
Natus dolorem, ab molestias eos eum explicabo veniam
 architecto! Labore reprehenderit quasi unde!
Amet beatae vero repellat id illo. Impedit quisquam 
consectetur animi accusantium rerum. Praesentium ullam 
sint blanditiis ea voluptatum ad accusamus nisi corporis
 illo. Veniam quis nobis quia quaerat, placeat eaque.
Amet modi temporibus consequatur! Sapiente ullam dolorum 
nostrum, quod consequuntur provident quas quibusdam 
nesciunt quam, eum architecto ut inventore consectetur
 voluptates omnis tenetur dolorem. Est alias qui sunt! 
 Beatae, consequatur.</p>

 <%- include("footer") -%>